* {
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#about-page {
  display: flex;
  width: 100vw;
  height: 800px;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}
#project-description {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
#project-text {
  margin-bottom: 20px;
}
#developer {
  display: flex;
  margin-bottom: 20px;
}
#developer img {
  width: 200px;
  border-radius: 100%;
  margin-right: 20px;
}
#developer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
#links {
  display: grid;
  max-width: 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}
#imp-link {
  grid-column: 1 / span 2;
  align-self: center;
  justify-self: center;
}
#github,
#youtube {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
}
#github img,
#youtube img {
  width: 100px;
}
#tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  justify-content: center;
}
#tech-imgs img {
  width: 200px;
}
#tech-imgs {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 2rem;
}
