<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap.min.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <header>
      <nav>
        <ul>
          <li><a href="#" id="item1">Home</a></li>
          <li><a href="#" id="item3">About</a></li>
        </ul>
      </nav>
    </header>
    <div id="welcome"></div>
    <div id="que-body"></div>
    <div id="result" class="hide"><span id="result-text"></span><button id="try-again-btn"
        class="btn btn-dark my-2 p-2">Try again</button></div>
    <div class="popup hide">
      <form action="">
        <label for="">Enter your Name</label>
        <input id="enter-name" type="text" class="form-control my-2">
        <button id="start" class="btn btn-dark my-2 p-2">START</button>
      </form>
    </div>
    <footer>
      <div class="copyright">
        Copyright © 2022 Harinder_project - All rights reserved.
      </div>
    </footer>
  </div>
  <script src="{{ url_for('static', filename='javascript/common.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/bootstrap.bundle.min.js') }}"></script>
  <script>
    let name = localStorage.getItem('name');

    function shuffle(array) {
      let currentIndex = array.length, randomIndex;

      // While there remain elements to shuffle.
      while (currentIndex != 0) {

        // Pick a remaining element.
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex--;

        // And swap it with the current element.
        [array[currentIndex], array[randomIndex]] = [
          array[randomIndex], array[currentIndex]];
      }
      return array;
    }

    document.getElementById('start').addEventListener('click', () => {
      name = document.getElementById('enter-name').value;
      localStorage.setItem("name", name);
      console.log(name);
      document.getElementsByClassName("popup")[0].className = "popup hide";
      localStorage.setItem("isQuizGoing", true);
      localStorage.setItem("currentQue", 1);
      localStorage.setItem("score", 0);
      localStorage.setItem("result", false);
      location.reload();
    }
    )
    document.getElementById('try-again-btn').addEventListener('click', () => {
      localStorage.setItem("isQuizGoing", true);
      localStorage.setItem("currentQue", 1);
      localStorage.setItem("score", 0);
      localStorage.setItem("result", false);
      javaQuestions = shuffle(javaQuestions);
      location.reload();
    }
    )
    const isQuizGoing = localStorage.getItem("isQuizGoing") ? localStorage.getItem("isQuizGoing") : false;
    let currentQue = localStorage.getItem("currentQue") ? localStorage.getItem("currentQue") : null;
    let score = localStorage.getItem("score") ? localStorage.getItem("score") : null;
    console.log(currentQue);
    console.log(isQuizGoing);
    document.getElementById('welcome').innerHTML = name && 'Hello ' + localStorage.getItem('name')
    //storing java quiz question and answer
    let userInput = false;
    let optionChoosed;
    let queNo = 0;
    let result = 0;

    let javaQuestionsNormal = [{
      que: "What is the work of <address> element in HTML5?",
      option: [" contains IP address", "contains home address", "contains url", "contains contact details for author"],
      ans: "contains contact details for authorm"
    }, {
      que: "Which of the following tag is used to embed css in html page?",
      option: ["<css>", "<!DOCTYPE html>", "<script>", "<style>"],
      ans: "<style>"
    },
    {
      que: "Which of the following CSS selectors are used to specify a group of elements?",
      option: ["tag", "id", "class", "both class and tag"],
      ans: "class"
    },
    {
      que: "Which of the following has introduced text, list, box, margin, border, color, and background properties?",
      option: ["HTML", "PHP", "CSS", "Ajax"],
      ans: "CSS"
    },
    {
      que: "Which of the following CSS framework is used to create a responsive design?",
      option: ["django", "rails", "larawell", "bootstrap"],
      ans: "bootstrap"
    },
    {
      que: "Which of the following type of HTML tag is used to define an internal style sheet?",
      option: ["<script>", "<link>", "<class>", "<style>"],
      ans: "<style>"
    },
    {
      que: "Which of the following CSS property is used to make the text bold?",
      option: ["text-decoration: bold", "font-weight: bold", "font-style: bold", "text-align: bold"],
      ans: "font-weight: bold"
    },
    {
      que: "Which of the following CSS style property is used to specify an italic text?",
      option: ["style", "font", "font-style", "@font-face"],
      ans: "font-style"
    },
    {
      que: "Which of the following are the CSS Extension Prefixes for Webkit?",
      option: ["-chrome", "-web", "-o-", "-webkit"],
      ans: "-webkit"
    },
    {
      que: "Which of the following is the first CSS specification to become an official W3C Recommendation?",
      option: ["CSS level 2", "(X)HTML CSS", "CSS level 1", "CSS level 2.1"],
      ans: "CSS level 1"
    },
    {
      que: "Which of the following function defines a linear gradient as a CSS image?",
      option: ["gradient()", "linear-gradient()", "grayscale()", "image()"],
      ans: "linear-gradient"
    },
    {
      que: "Which of the following is not the property of the CSS box model?",
      option: ["margin", "color", "width", "height"],
      ans: "color"
    },
    {
      que: "Which of the following CSS property is used to specify table borders in CSS?",
      option: ["table:border", "table", "border", "none of the mentioned"],
      ans: "border"
    },
    {
      que: "Which of the following property is used to align the text in a table?",
      option: ["text-align", "align", "text", "none of the mentioned"],
      ans: "text-align"
    },
    {
      que: "Who is the father of HTML?",
      option: ["Rasmus Lerdorf", "Tim Berners-Lee", "Brendan Eich", "Sergey Brin"],
      ans: "Tim Berners-Lee"
    },

    {
      que: "HTML stands for __________",
      option: ["HyperText Markup Language", "HyperText Machine Language", "HyperText Marking Language", "HighText Marking Language"],
      ans: "HyperText Markup Language"
    },
    {
      que: "What is the correct syntax of doctype in HTML5?",
      option: ["</doctype html>", "<doctype html>", "<doctype html!>", "<!doctype html>"],
      ans: "<!doctype html>"
    },
    {
      que: "Which of the following is used to read an HTML page and render it?",
      option: ["Web server", "Web network", "Web browser", "Web matrix"],
      ans: "Web browser"
    },

    {
      que: "Which of the following tag is used for inserting the largest heading in HTML?",
      option: ["head", "<h1>", "<h6>", "heading"],
      ans: "<h1>"
    },

    {
      que: "In which part of the HTML metadata is contained?",
      option: ["head tag", "title tag", "html tag", "body tag"],
      ans: "head tag"
    },

    {
      que: "Which element is used to get highlighted text in HTML5?",
      option: ["<u>", "<mark>", "<highlight>", "<b>"],
      ans: "<mark>"
    },

    {
      que: "Which of the following is not a HTML5 tag?",
      option: ["<track>", "<video>", "<slider>", "<source>"],
      ans: "<slider>"
    },

    {
      que: "Which of the following elements in HTML5 defines video or movie content?",
      option: ["<video>", "<movie>", "<audio>", "<media>"],
      ans: "<video>"
    },

    {
      que: "Which of the following is not the element associated with the HTML table layout?",
      option: ["alignment", "color", "size", "spanning"],
      ans: "color"
    },


    ]

    javaQuestions = shuffle(javaQuestionsNormal);

    let question = document.createElement('div');
    question.className = "question hide";
    let queElement = document.createElement('label');
    let ansElement = document.createElement('ol');
    let op1 = document.createElement('li');
    let op2 = document.createElement('li');
    let op3 = document.createElement('li');
    let op4 = document.createElement('li');
    queElement.className = "que";
    ansElement.className = "ans";
    op1.id = "op1";
    op2.id = "op2";
    op3.id = "op3";
    op4.id = "op4";
    op1.className = "option form-control";
    op2.className = "option form-control";
    op3.className = "option form-control";
    op4.className = "option form-control";
    question.appendChild(queElement);
    question.appendChild(ansElement);
    ansElement.appendChild(op1);
    ansElement.appendChild(op2);
    ansElement.appendChild(op3);
    ansElement.appendChild(op4);

    const loadQuestion = (n) => {
      let item = javaQuestions[n - 1];
      if (n <= 10) {
        queElement.innerText = n + ". " + item.que;
        item.option.map((item2, i) => {
          ansElement.childNodes[i].innerText = item2;
        }
        )
      } else {
        let element = document.getElementById('result-text');
        let element2 = document.getElementById('result');
        element.innerText = localStorage.getItem("name") + " your score is " + localStorage.getItem("score") + " out of 10";
        localStorage.setItem("result", true);
        localStorage.setItem("isQuizGoing", false);
        question.className = "question hide";
        element2.className = "show";
      }
    }
    console.log(document.getElementById('result'));
    currentQue && isQuizGoing === 'true' && loadQuestion(currentQue);

    const nextQuestion = (option) => {
      let item = javaQuestions[currentQue - 1];
      console.log(item.ans);
      console.log(item.option[option]);
      if (item) {
        if (item.ans === item.option[option]) {
          score++;
          localStorage.setItem("score", score);
        }
      }
      currentQue++;
      localStorage.setItem("currentQue", currentQue);
      console.log(localStorage.getItem("score"));
      console.log(localStorage.getItem("currentQue"));
      loadQuestion(localStorage.getItem("currentQue"))
    }

    !isQuizGoing && shuffle(javaQuestions);
    console.log(javaQuestions);
    op1.addEventListener('click', () => {
      optionChoosed = 0;
      nextQuestion(optionChoosed)
    })
    op2.addEventListener('click', () => {
      optionChoosed = 1;
      nextQuestion(optionChoosed)
    })
    op3.addEventListener('click', () => {
      optionChoosed = 2;
      nextQuestion(optionChoosed)
    })
    op4.addEventListener('click', () => {
      optionChoosed = 3;
      nextQuestion(optionChoosed)
    })
    document.getElementById('que-body').appendChild(question);

    if (isQuizGoing === 'true') {
      question.className = "question show";
    }
    else {
      question.className = "question hide";
    }
    if (!name) {
      document.getElementsByClassName("popup")[0].className = "popup show";
    }
    if (localStorage.getItem("result") === 'true') {
      let element = document.getElementById('result-text');
      let element2 = document.getElementById('result');
      console.log(element)
      element.innerText = localStorage.getItem("name") + " your score is " + localStorage.getItem("score") + " out of 10";
      element2.className = "show";
    }
  </script>
</body>

</html