<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=h4, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap.min.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Harinder_propject</title>
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <ul>
            <li><a href="#" id="item1">Home</a></li>
            <li><a href="#" id="item2">Leaderboard</a></li>
            <li><a href="#" id="item3">About</a></li>
          </ul>
        </nav>
      </header>
      <div class="grid-container">
        <div class="row text-center my-3">
          <h1 id="welcome">Welcome to Programing Quiz</h1>    
        </div>
        <div class="row">
          <div class="col-md-4 col-lg-3">
            <div id="java" class="grid-item">
              <img src="{{ url_for('static', filename='images/java.png') }}" alt="" />
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            
            <div id="sql" class="grid-item"><img src="{{ url_for('static', filename='images/sql.png') }}" alt="" /></div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div id="c" class="grid-item"><img src="{{ url_for('static', filename='images/c.png') }}" alt="" /></div>
          </div>
          <div class="col-lg-3">
            <div id="csshtml" class="grid-item"><img src="{{ url_for('static', filename='images/csshtml.png') }}" alt="" /></div>
          </div>
          <div class="col-lg-6">
            <div id="javascript" class="grid-item"><img src="{{ url_for('static', filename='images/javascript.png') }}" alt="" /></div>
          </div>
          <div class="col-lg-6">
            <div id="python" class="grid-item"><img src="{{ url_for('static', filename='images/python.png') }}" alt="" /></div>
          </div>
        </div>
      </div>
<footer>
  <div class="copyright">
   Copyright © 2022 Harinder_project - All rights reserved.
  </div>
</footer>
    </div>
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/common.js') }}"></script>
  </body>
</html>
